  
<section class="section mx-0">
  <span class="section mx-0">
    <div class="bg-white">
      &nbsp;
      <a class="anchor" name="faen1"></a>
      <a class="anchor" id="faen2"></a>
      <div class="" style="margin-top: 44px;">
        <div class="container">
          <!-- TODO: Fix temporary view -->
          <span *ngIf="!successStories">
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6 hide-on-small success-image">&nbsp;
              </div>
              <div 
                class="col-md-12 col-lg-6 col-xl-6"
                [ngClass]="'success-bg-0'" style="height: 100%">
                <strong class="success-2-header"></strong>
                <span class="success-2-article">
                </span>
              </div>
            </div>
          </span>
          <!-- SUCCESS LOOP LARGE -->
          <span *ngIf="successStories" class="hide-on-medium hide-on-small">
            <span *ngFor="let story of successStories; let i = index;">
              <a class="anchor" name="story{{story.id}}"></a>
              <span *ngIf="i%2 === 0">
                <div class="row">
                    <div 
                    class="col-md-12 col-lg-6 col-xl-6 success-image" 
                    id="sensorlink" 
                    [ngStyle]="{ 'background-image': 'url(' + getImgPath(story.title.rendered) + '_L.jpg)' }">
                  </div>
                  <div 
                    class="col-md-12 col-lg-6 col-xl-6"
                    [ngClass]="'success-bg-' + (i % 3)">
                    <strong class="success-2-header" [innerHtml]="story.title.rendered"></strong>
                    <span class="success-2-article" [innerHtml]="story.content.rendered">
                    </span>
                  </div>
                </div>
              </span>
              <span *ngIf="i%2 !== 0">
                  <div class="row">
                    <div 
                      class="col-md-12 col-lg-6 col-xl-6"
                      [ngClass]="'success-bg-' + (i % 3)">
                      <strong class="success-2-header" [innerHtml]="story.title.rendered"></strong>
                      <span class="success-2-article" [innerHtml]="story.content.rendered">
                      </span>
                    </div>
                    <div 
                      class="col-md-12 col-lg-6 col-xl-6 success-image" 
                      id="sensorlink" 
                      [ngStyle]="{ 'background-image': 'url(' + getImgPath(story.title.rendered) + '_L.jpg)' }">
                    </div>
                  </div>
                </span>
            </span>
          </span>
          <!-- SUCCESS LOOP-->
          <!-- SUCCESS LOOP SMALL -->
          <span *ngIf="successStories" class="hide-on-large">
            <span *ngFor="let story of successStories; let i = index;">
              <a class="anchor" name="story{{story.id}}"></a>
              <span>
                <div class="row">
                  <!--<div 
                    class="col-md-12 col-lg-6 col-xl-6 success-color-line"
                    [ngClass]="'success-bg-' + (i % 3)">&nbsp;
                  </div>-->
                  <div 
                    class="col-md-12 col-lg-6 col-xl-6 success-image" 
                    id="sensorlink" 
                    [ngStyle]="{ 'background-image': 'url(' + getImgPath(story.title.rendered) + '_L.jpg)' }">
                  </div>
                  <div 
                    class="col-md-12 col-lg-6 col-xl-6"
                    [ngClass]="'success-bg-' + (i % 3)">
                    <strong class="success-2-header" [innerHtml]="story.title.rendered"></strong>
                    <span class="success-2-article" [innerHtml]="story.content.rendered">
                    </span>
                  </div>
                </div>
              </span>
            </span>
          </span>
          <!-- SUCCESS LOOP-->

        </div>
      </div>      
    </div>
  </span>
</section>
<app-footer-component></app-footer-component>
